
// Color Cube

$ccWhite : #ffff;
$ccBayOfMany : #224184;
$ccSilver : #bcbcbc;
$ccCodGray : #1b1b1b;
$ccTulipTree : #efab43;
$ccBoulder : #797979;
$ccCerulean : #029fcc;
$ccThunderbird : #d71f18;
$ccMalibu : #69a0fd;
$ccWalnut : #784619;

// Median Cut

$mcPickledBlue : #374a5e;
$mcHintofRed : #f4f0ef;
$mcTussock : #cc9f4c;
$mcTowerGray : #a3b8be;
$mcMatrix : #a65d50;

// Material Design

$mdTussock : #c2944f;
$mdDustyGray : #9a9898;
$mdBayofMany : #22437d;
$mdSmaltBlue : #4f7f85;
$mdIceCold : #b1e4f4;

// Personalizzate 
$coloreSfondo : #F9F3F2;